<div class="container">
  <div class="wrapper">
    <div class="main-header">
      <img class="main-logo" src="../../assets/img/github.svg">
      <h2>GetGit</h2>
      <h3>Your next google</h3>

    </div>
    <form>
      <input name="query" placeholder="Enter your query and press Enter" (keydown)="handleQuery($event)"
        type="text" class="query" [(ngModel)]="query">
      <input class="filter" (keydown)="filterQuery($event)" placeholder="Language" type="text">
    </form>
    <ul *ngIf="items">
      <li *ngFor="let item of items">
        <div class="result">
          <div class="result-header">
            <div class="title">
              <img class="icon" src="../../assets/img/github-logo.svg">
              <span class="package-title">
                <a target="_blank" [href]="item.html_url">{{item.name}} </a>
                - by
                <a target="_blank" [href]="item.owner.html_url"> {{item.owner.login}} </a>
              </span>
            </div>
            <button (click)="copy(item.git_url)"> clone</button>
          </div>
          <div class="body">
            <p *ngIf="item.description.length < 200">{{item.description}}</p>
          </div>
          <div class="footer">
            <span class="badge green" *ngIf="item.language">{{item.language}}</span>
            <span class="badge green" *ngIf="!item.language">unknown lang</span>
            <span class="badge normal" *ngIf="item.license?.name">{{item?.license?.name}}</span>
            <span class="badge warn">{{item.open_issues}} issues</span>
            <span class="badge redish" *ngIf="item.private">private</span>
            <span class="badge allowed" *ngIf="!item.private">public</span>
          </div>

        </div>

      </li>
    </ul>

  </div>

</div>
