header {
  background: var(--primary);
  opacity: 0.5;
  width: 100%;
  text-align: center;
  z-index: 999;
  top: 0;
  position: fixed;
  display: block;
}

.nav-container {
  margin-bottom: 200px;
}

.app-logo {
  margin: 0;
  width: 50px;
}

nav {
  position: absolute;
  top: 100%;
  text-align: left;
  left: 0%;
  transform: scale(1, 0);
  transition: transform .4s ease-in-out;
  transform-origin: top;
  background: var(--primary);
  width: 100%;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

li a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--light);
  transition: .5s ease-in ease-out forwards;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav li a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-chrisp {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-chrisp span, .nav-chrisp span::before, .nav-chrisp span::after {
  height: 2px;
  width: 2em;
  position: relative;
  background: var(--light);
}

.nav-chrisp span, .nav-chrisp span::before, .nav-chrisp span::after {
  position: absolute;
  content: '';
  display: block;
}

.nav-chrisp span::before {
  bottom: 7px;
}

.nav-chrisp span::after {
  top: 7px;
}

.model-bg {
  z-index: 100000;
  width: 100%;
  height: 100vh !important;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  transform: scale(0);
  transition: transform .4s ease-out;
  transform-origin: center;
}

.model-content {
  width: 500px;
  transform: scale(0);
  transform-origin: center;
  border-radius: 4px;
  text-align: center;
  background: var(--light);
  padding: 20px;
  position: relative;
}

.model-content h2 {
  color: var(--dark);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.cross {
  position: absolute;
  top: 0;
  right: 14px;
  opacity: 0.7;
  cursor: pointer;
  transform: rotate(45deg);
  font-size: 4em;
}

.cross:hover {
  opacity: 1;
}

.model-bg img {
  width: 100px;
  margin: 0.5em 0;
}

input {
  outline: none;
  width: 75%;
  display: block;
  height: 50px;
  padding: 1.2em;
  font-size: 1.1em;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 0.5em 0;
}

input:focus {
  border: 1px solid var(--secondary);
}

input:active {
  border: 1px solid var(--secondary);
}

.login-form {
  display: grid;
}

.input-div {
  display: grid;
}

.input-error {
  border-color: red;
}

.error-message {
  display: none;
  color: var(--warn);
  justify-self: left;
  align-self: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.showup {
  display: block;
}

.login-btn {
  border: 0px solid transparent;
  width: 75px;
  height: 30px;
  outline: none;
  width: 30%;
  cursor: pointer;
  margin: 0.5em 0;
  background: var(--primary);
  color: var(--light)
}

.login-btn:hover {
  outline: 2px;
}

@media screen and (min-width: 800px) {
  .nav-chrisp {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 0.5fr auto minmax(600px, 4fr) 0.5fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--light);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}
