<div class="nav-container">
  <header>
    <h1> <a routerLink="/"><img class="app-logo" src="../assets/img/giget-logo.png"></a>
    </h1>
    <input id="nav-toggle" class="nav-toggle" type="checkbox">
    <nav>
      <ul>
        <li>
          <a routerLink='/bookmarks'>
            Bookmarks
          </a>
        </li>
        <li>
          <a routerLink="/stackoverclue">
            StackOverClue
          </a>
        </li>
        <li *ngIf="!(isLoggedIn$| async)">
          <a (click)="openModel($event)">Login</a>
        </li>
        <li *ngIf="!(isLoggedIn$ | async)">
          <a id="register-btn" (click)="openModel($event)">Register</a>
        </li>
        <li *ngIf="isLoggedIn$ | async">
          <a (click)="logout()">log out</a>
        </li>

      </ul>
    </nav>
    <label for="nav-toggle" class="nav-chrisp">
      <span></span>
    </label>
  </header>
</div>
<div #registerModel class="model-bg">
  <div #registerModelContent class="model-content">
    <img src="../assets/img/login.svg">
    <div (click)="closeModel($event)" id="close-register" class="cross">+</div>
    <form [formGroup]="formGroup" class="login-form">
      <div class="input-div">
        <input formControlName="name" [ngClass]="{'input-error': name.invalid && name.touched}"
          type="text" placeholder="Enter your name" required>
        <div [ngClass]="{'showup': (name.getError('required') && name.touched)}"
          class="error-message">
          The field "name" is required
        </div>
        <div [ngClass]="{'showup': (name.getError('minlength') && name.touched)}"
          class="error-message">
          The field "name" must be at least 2 letters
        </div>
      </div>
      <div class="input-div">
        <input [ngClass]="{'input-error': (email.errors && email.touched)}"
          formControlName="email" type="text" placeholder="Enter your email"
          required>
        <div [ngClass]="{'showup': (email.getError('minlength') && email.touched)}"
          class="error-message">
          The field "email" must be at least 5 letters
        </div>
        <div [ngClass]="{'showup': (email.getError('required') && email.touched)}"
          class="error-message">
          The field "email" is required
        </div>
        <div [ngClass]="{'showup': (email.getError('email') && email.touched)}"
          class="error-message">
          The field "email" must be valid email
        </div>
      </div>
      <div class="input-div">
        <input formControlName="password" [ngClass]="{'input-error': (password.errors && password.touched)}"
          type="password" placeholder="Enter your password" required>
        <div [ngClass]="{'showup': (password.getError('required') && password.touched)}"
          class="error-message">
          The field "password" is required
        </div>
        <div [ngClass]="{'showup': (password.getError('minlength') && password.touched)}"
          class="error-message">
          The field "password" must be at least 5 letters
        </div>
      </div>
      <button [disabled]="formGroup.invalid && formGroup.touched" (click)="register()"
        class="login-btn">Register</button>
    </form>
  </div>
</div>

<div #loginModel id="login-model" class="model-bg">
  <div #loginModelContent class="model-content">
    <img src="../assets/img/login.svg">
    <div (click)="closeModel($event)" id="close-login" class="cross">+</div>
    <form [formGroup]="formGroup" class="login-form">
      <div class="input-div">
        <input [ngClass]="{'input-error': (email.errors && email.touched)}"
          formControlName="email" type="text" placeholder="Enter your email"
          required>
        <div [ngClass]="{'showup': (email.getError('minlength') && email.touched)}"
          class="error-message">
          The field "email" must be at least 5 letters
        </div>
        <div [ngClass]="{'showup': (email.getError('required') && email.touched)}"
          class="error-message">
          The field "email" is required
        </div>
        <div [ngClass]="{'showup': (email.getError('email') && email.touched)}"
          class="error-message">
          The field "email" must be valid email
        </div>
      </div>
      <div class="input-div">
        <input formControlName="password" [ngClass]="{'input-error': (password.invalid && password.touched)}"
          type="password" placeholder="Enter your password" required>
        <div [ngClass]="{'showup': (password.getError('required') && password.touched)}"
          class="error-message">
          The field "password" is required
        </div>
        <div [ngClass]="{'showup': (password.getError('minlength') && password.touched)}"
          class="error-message">
          The field "password" must be at least 5 letters
        </div>
      </div>
      <button [disabled]="(email.invalid || password.invalid) && formGroup.touched"
        (click)="login()" class="login-btn">Login</button>
    </form>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
